<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="css/style.css"/>
    <meta name="viewport" content="width=device-width">
    <title>Nu Magic - New magic and you</title>
</head>
<body>
    <header>
        <div class="background"></div>        
            <div class="main-menu">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#shop-grid">Products</a></li>
                    <li><a href="#aboutus">About Us</a></li>
                </ul>
            </div>
            <div class="splash">
                <img src="./logo.png" class="numagic"/>
                <h1>New magic and You</h1>
            </div>
            <div class="bottom-header">
                <button type='button' onclick="gotoshop('shop-grid')">Shop Now ></button>
            </div>
    </header>

    <div class="grid-section" id="shop-grid">
        <div class="grid-menu">
            <ul>
                <li><a href="#" class="active" onclick="menuActive(event)">close up</a></li>
                <li><a href="#" onclick="menuActive(event)">playing cards</a></li>
                <li><a href="#" onclick="menuActive(event)">kids magic</a></li>
                <li><a href="#" onclick="menuActive(event)">stage magic</a></li>
            </ul>
        </div>
        <div class="title-block">
            <h1>the latest</h1>
            <p>and greatest products</p>
            <h1>from nu-magic</h1>
        </div>
        <div class="grid-container">
            <div class="item">
                <div class="image"><img src="./header.jpeg"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
        </div>
        <a href="/" class="more">see more ></a>
    </div>

    <div class="multi-func" id="aboutus">
        <div class="wrapper">
            <div class="search">
                <div class="search-box">
                    <h1>Search By Name</h1>
                    <div>
                        <input type="text" name="search" placeholder="Search By Name"/>
                        <button>Search</button>
                    </div>
                </div>
                <div class="category-box">
                    <h1>Browse By Category</h1>
                    <ul>
                        <li><a href="#">Card Magic</a></li>
                        <li><a href="#">Playing Cards</a></li>
                        <li><a href="#">Kids Magic</a></li>
                        <li><a href="#">Stage Magic</a></li>
                        <li><a href="#">Coins</a></li>
                    </ul>
                </div>
            </div>        
            <div class="about">
                <h1>welcome</h1>
                <h3>More About NU Magic - Where We Started</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="wrapper">
            <div class="order sections">
                <h1>order</h1>
                <h3>Step 1</h3>
                <p>Browse our online store and see what you like</p>
            </div>
            <div class="payment sections">
                <h1>payment</h1>
                <h3>Step 2</h3>
                <p>
                    Go to your shopping cart and press CHECKOUT, a various options for payment will be listed
                </p>
            </div>
            <div class="shipment sections">
                <h1>shipment</h1>
                <h3>Step 3</h3>
                <p>
                    Select a shipment method you preferred and your order will be departed from us within 3 days
                </p>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function menuActive(e) {
        var current_active = document.querySelector('.grid-menu ul li a.active');
        if (!e.target.className) {
            e.target.className = 'active';
            current_active.className = '';
        }
    }

    function gotoshop(hash) {
        location.hash = '#';
        location.hash = '#' + hash;
    }
</script>
</body>
</html>
