<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="css/style.css"/>
    <meta name="viewport" content="width=device-width">
    <title>Nu Magic - New magic and you</title>
</head>
<body>
    <header>
        <div class="background"></div>        
            <div class="main-menu">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="splash">
                <img src="../logo.png" class="numagic"/>
                <h1>New magic and You</h1>
            </div>
            <div class="bottom-header">
                <button type='button'>Shop Now ></button>
            </div>
    </header>

    <div class="grid-section">
        <div class="grid-menu">
            <ul>
                <li><a href="#" class="active">close up</a></li>
                <li><a href="#">playing cards</a></li>
                <li><a href="#">kids magic</a></li>
                <li><a href="#">stage magic</a></li>
            </ul>
        </div>
        <div class="title-block">
            <h1>the latest</h1>
            <p>and greatest products</p>
            <h1>from nu-magic</h1>
        </div>
        <div class="grid-container">
            <div class="item">
                <div class="image"><img src="../header.jpeg"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
            <div class="item">
                <div class="image"></div>
                <p>Product Title</p>
                <hr>
                <p>$100</p>
                <button type='button'>add to cart</button>
            </div>
        </div>
        <a href="/" class="more">see more ></a>
    </div>

</body>
</html>
