* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
  color: black;
}

body {
  background: #f8f8f8;
  font-size: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
}

header .logo {
  background: #fff;
  border-radius: 50%;
  padding: 8px;
  width: 100px;
}

header .logo a img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

header .main-menu {
  margin-left: auto;
}

header .main-menu ul li {
  display: inline-block;
  padding: 5px 0;
  margin: 0 10px;
}

header .main-menu ul li.toggle {
  display: none;
}

@media only screen and (max-width: 500px) {
  header .main-menu ul li {
    display: none;
  }
  header .main-menu ul li.toggle {
    display: block;
  }
}

header .main-menu ul li a {
  text-transform: uppercase;
}

header .main-menu ul li a.active {
  color: #B53939;
}

header .main-menu ul li a.cart {
  background: #BA4550;
  padding: 4px 8px;
  color: #fff;
  border-radius: 5px;
}

.wrapper .title-block h1 {
  text-align: left;
  text-transform: capitalize;
  color: #585858;
}

.wrapper .search-form {
  text-align: left;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.wrapper .search-form button {
  background: none;
  border: none;
  font-size: 16px;
}

.wrapper .search-form input {
  background: none;
  border: none;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  outline: none;
}

.wrapper .grid-container {
  width: 100%;
}

.wrapper .grid-container .product-grid {
  background: #fff;
  padding: 2rem;
  max-height: 100%;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: left;
}

.wrapper .grid-container .product-grid .item {
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  margin-bottom: 20px;
  padding: 0.7%;
}

.wrapper .grid-container .product-grid .item:hover {
  cursor: pointer;
}

.wrapper .grid-container .product-grid .item:hover label {
  color: #BA4550;
}

@media screen and (min-width: 768px) {
  .wrapper .grid-container .product-grid .item {
    width: 33.3%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper .grid-container .product-grid .item {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper .grid-container .product-grid .item {
    width: 16.6666%;
  }
}

.wrapper .grid-container .product-grid .item .image {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background: dimgray;
  margin-bottom: 10px;
  overflow: hidden;
}

.wrapper .grid-container .product-grid .item .image img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.wrapper .grid-container .product-grid .item label {
  font-size: .8rem;
  color: #383838;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper .grid-container .product-grid .item label.name {
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
}

.wrapper .grid-container .about {
  background: #fff;
  padding: 2rem;
  max-height: 100%;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.wrapper .grid-container .about p {
  width: 70%;
  margin: 20px auto;
  line-height: 1.7rem;
  text-align: left;
  letter-spacing: 1.2px;
}

.wrapper .grid-container .single {
  background: #fff;
  padding: 2rem;
  max-height: 100%;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .grid-container .single .thumbnail {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.wrapper .grid-container .single .details hr {
  width: 80%;
  margin: 1.5rem auto;
}

.wrapper .grid-container .single .details p {
  width: 80%;
  margin: auto;
  text-align: left;
}

.wrapper .grid-container .faq {
  background: #fff;
  padding: 2rem;
  max-height: 100%;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  background: #fff;
}
