* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center; }

header {
  height: 75vh;
  width: 100%;
  position: relative; }
  header .background {
    background-image: url("../header.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(120%) contrast(40%);
    filter: brightness(120%) contrast(40%);
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute; }
  header .main-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%; }
    header .main-menu ul {
      padding-left: 15px; }
      header .main-menu ul li {
        display: inline-block;
        list-style: none;
        padding: 4px;
        margin: 10px 15px; }
        header .main-menu ul li:hover > a {
          color: #BA4550; }
        header .main-menu ul li a {
          text-decoration: none;
          color: #fff; }
  header .splash {
    padding-top: 10rem; }
    header .splash .numagic {
      width: 150px;
      height: auto; }
    header .splash h1 {
      color: #fff;
      font-style: italic;
      font-weight: 300; }
  header .bottom-header {
    margin-top: 20px; }
    header .bottom-header button {
      background-color: #B53939;
      border-radius: 5px;
      font-size: 18px;
      color: #fff;
      padding: 8px 16px;
      border: none; }
      header .bottom-header button:hover {
        cursor: pointer; }

.grid-section .grid-menu {
  border-bottom: 1px solid #000; }
  .grid-section .grid-menu ul {
    padding: 10px 0; }
    .grid-section .grid-menu ul li {
      list-style: none;
      display: inline-block;
      margin: 10px 1rem 10px 0; }
      .grid-section .grid-menu ul li a {
        color: #000;
        text-transform: uppercase;
        text-decoration: none; }
        .grid-section .grid-menu ul li a:hover {
          text-decoration: underline #BA4550; }
      .grid-section .grid-menu ul li .active {
        color: #BA4550; }
        .grid-section .grid-menu ul li .active:hover {
          text-decoration: none; }

.grid-section .title-block {
  margin: 50px 0; }
  .grid-section .title-block h1 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #585858; }
  .grid-section .title-block p {
    letter-spacing: 2px;
    color: #BA4550;
    margin: 10px 0; }

.grid-section .grid-container {
  width: 800px;
  margin: 0 auto 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 800px) {
    .grid-section .grid-container {
      width: auto;
      margin: 0; } }
  .grid-section .grid-container .item {
    margin: 0 20px;
    margin-bottom: 20px; }
    .grid-section .grid-container .item button {
      margin: 5px 0;
      text-transform: uppercase;
      padding: 6px 11px;
      border: none;
      background-color: #BA4550;
      color: #fff; }
    .grid-section .grid-container .item hr {
      width: 35%;
      margin: 5px auto; }
    .grid-section .grid-container .item .image {
      width: 150px;
      margin: 0 auto;
      height: 100px;
      background: dimgray;
      margin-bottom: 10px;
      overflow: hidden; }
      .grid-section .grid-container .item .image img {
        width: 100%;
        height: auto;
        max-height: 100%; }
    @media only screen and (max-width: 500px) {
      .grid-section .grid-container .item:nth-child(n+5) {
        display: none; } }

.grid-section .more {
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px; }
