<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="css/layout.css"/>
    <meta name="viewport" content="width=device-width">
    <title>Nu Magic - New magic and you</title>
</head>
<body>

    <header>
        <div class="background"></div>

        <div class="logo"><img src="./logo.png"></div>
        <div class="main-menu">
            <ul>
                <li class="menutoggle"><a href="#">=</a></li>
                <li><a href="#">faq</a></li>
                <li><a href="#" class="active">products</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">cart</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="title-block">
            <h1>our collection</h1>
            <p>of magic trcks and props</p>
        </div>
        <div class="container">
            <div class="toolbar">
                <form>
                    <input type="text" name="search"/>
                    <button type="submit">SEARCH</button>
                </form>
                <ul>
                    <li>playing cards</li>
                    <li>close up</li>
                </ul>
            </div>
            <div class="grid"></div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</body>
</html>
