doctype html
html
  head
    link(rel='stylesheet', href='css/style.css')
    link(rel="icon", href="/logo.png")
    meta(name='viewport', content='width=device-width')
    title Nu Magic - New magic and you
  body
    header
      .background
      .main-menu
        ul
          li
            a(href='/faq') FAQ
          li
            a(href='/products') Products
          li
            a(href='/about') About Us
      .splash
        img.numagic(alt='https://dl.dropboxusercontent.com/s/zgy6buzzojkoxnl/logo.png?dl=0' src="/logo.png")
        h1 New magic and You
      .bottom-header
        form(action='./products')
          button#shop-now(data-target='product-grid') Shop Now >
    #product-grid.grid-section
      .grid-menu
        ul
          each category in categories
            li
              if category.name == 'close up'
                a.active(data-target=category.name)= category.name
              else
                a(data-target=category.name)= category.name
      .title-block
        h1 the latest
        p and greatest products
        h1 from nu-magic
      .grid-container
      a.more(href='/products') see more >
    #about-us.multi-func
      .wrapper
        .search
          .search-box
            h1 Search By Name
            div
              form(action='/products')
                input(type='text', name='', placeholder='Search By Name')
                button Search
          .category-box
            h1 Browse By Category
            ul
              each category in categories
                li 
                  a(href="/category/"+category.id)= category.name
        .about
          h1 welcome
          h3 More About NU Magic - Where We Started
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .info
      .wrapper
        .order.sections
          h1 order
          h3 Step 1
          p Browse our online store and see what you like
        .payment.sections
          h1 payment
          h3 Step 2
          p
            | Go to your shopping cart and press CHECKOUT, a various options for payment will be listed
        .shipment.sections
          h1 shipment
          h3 Step 3
          p
            | Select a shipment method you preferred and your order will be departed from us within 3 days
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='./js/fetch.js')
