extend layout.jade

block content
    div
        h1 Q1. Payment System
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur veniam, asperiores est quae. Sit earum quae     |tempora, ducimus excepturi veniam libero nulla, laudantium sequi aliquam eos illo vitae. Laudantium, qui.
