extend layout.jade

if product
    block content
        .single
            .thumbnail
                img(src=product.thumbnail)
            .details
                h1= product.name
                h2= "$" + product.price
                hr
                p= product.description
