extend ../layout.jade

block content
    .product-add.card
        form(method="post" action="/api/products" enctype="multipart/form-data")
            label Name
            br
            input(type="text" name="name" placeholder="Product Name" required)
            br
            label Description
            br
            textarea(name="description" rows="4" cols="50")
            br
            input(type="number" name="price" placeholder="Product Price" required)
            input(type="number" name="stock" placeholder="Product Stock" required)
            input(type="number" name="weight" placeholder="Product Weight")
            input(type="file" name="thumbnail")
            br
            label Featured:
            select(name="featured")
                option(value='true') Yes
                option(value='false') No
            br
            label Category
            br
            select(name="category" multiple)
                each category in categories
                    option(value=category.id)= category.name
            br
            button(type="submit") Save
