html
    head
        title Uploader Test

    body
        form(method="post" action="/api/uploader" enctype="multipart/form-data")
            input(type="file" name="thumbnail")
            button(type="submit") Save
